[includeIf "gitdir:*"]
    path = ~/.gitconfig_user
[commit]
    gpgsign = true
[alias]
    logs = log --show-signature
    # Pull current branch
    pullc = !git pull origin $(git branch --show-current)
    # Cleanup merged branches
    cb = !git-clean-branches
    # Push and set upstream to origin
    pushsu = !git push --set-upstream origin $(git branch --show-current)
    # Push, set upstream to origin and open PR
    pushsuo = !git-push-open-pr
[core]
    editor = subl-new-window
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
